<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Login</title>
  <link rel="stylesheet" href="./style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Anuphan:wght@300&family=Kanit:wght@700&family=Noto+Sans+Thai:wght@300;400&display=swap"
    rel="stylesheet">
</head>
<style>
  
</style>
<body>
  <div class="wrapper">
    <div class="title">
      Login Form
    </div>
    <form action="/login" method="post">
      <div class="field">
        <input type="text" id="username" name="username" required>
        <label>Username</label>
      </div>
      <div class="field">
        <input type="password" id="password" name="password" required>
        <label>Password</label>
      </div>
      <div class="field">
        <input type="submit" value="Login">
      </div>
      <div class="signup-link">
        Not a member? <a href="/signup">Signup now</a>
      </div>
    </form>
  </div>
</body>

</html>
